.main__search {
    margin-bottom: 14px;
}
.search__input {
    width: 100%;
    height: 40px;
    max-height: 40px;
    box-sizing: border-box;
    border: 3px solid #000000;
    padding-left: 45%;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    font-family: inherit;
    outline: none;
    transition: max-height 0.3s ease-out;
}
.search__input::placeholder {
    font-weight: normal;
    color: #e7e3e3;
    font-size: 16px;
}
.search__input--hidden {
    max-height: 0;
    padding: 0;
    transition: max-height 0.3s ease-out;
}